name: Pylint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint paho_mqtt
    - name: Analysing the code with pylint
      run: |
        pylint `ls -R|grep .py$|xargs`
